{% extends "knivesharpener/layout.html" %}

{% block body %}

    <div class="container">
    	<div class="row">
			<div class="col-md-6 offset-md-3 mt-4">
				<div class="panel panel-login p-2" style="border-radius: 10px; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2)">
					<div class="panel-heading">
                        <div>
                            <div class="card-title">
                                <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> Neues <span id="card_title">Passwort</span></h3>
                            </div>
                        </div>
					</div>
					<form method="post" class="p-1">
						{% csrf_token %}
						{{ form }}
						<div class="col-sm-6 offset-sm-3">
							<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Senden">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>  
    
{% endblock %}