.box-element {
    box-shadow: hsl(0, 0%, 75%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.table {
    border-color: white;
}

.cart-row {
    display: flex;
    vertical-align: middle;
    padding-bottom: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ececec;
}

.row-image {
    width: 100px;
}

.form-field{
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.form-fields{
    width: 500px;
    display: inline-block;
    padding: 5px;
}